<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <table border="1">
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Class Type</th>
        <th th:text="${flightType}+' Seats'"></th>
        <th th:text="${flightType}+' Price per seat'"></th>
        <th>Number of tickets booked</th>
        <th>Total Fare</th>
        <th>Book</th>
        <tr th:each="flight:${flights}">
            <td id="number" th:text="${flight.number}"></td>
            <td id="source" th:text="${flight.source}"></td>
            <td id="destination" th:text="${flight.destination}"></td>
            <td id="departureDate" th:text="${flight.departureDate}"></td>
            <td id="arrivalTime" th:text="${flight.departureTime}"></td>
            <td th:text="${flight.arrivalTime}"></td>
            <td th:text="${flightType}"></td>
            <td th:text="${flight.getAvailableSeatsBySeatType(flightType)}"></td>
            <td th:text="${flight.getBasePriceBySeatType(flightType)}"></td>
            <td th:text="${noOfPassengers}"></td>
            <td th:text="${flight.getTotalFare()}"></td>
            <td>
                <form th:action="@{/booking}" method="post">
                    <input type="hidden" for="flightNumber" >
                    <input type="hidden" id="noOfPassengers" th:value="${noOfPassengers}" name="noOfPassengers">
                    <input type="hidden" id="flightType" th:value="${flightType}" name="flightType">
                    <input type="hidden" id="totalFare" th:value="${flight.getTotalFare()}" name="totalFare">
                    <button type="submit" id="flightNumber" th:value="${flight.number}" name="flightNumber">Book</button>
                </form>
            </td>
        </tr>
    </table>

</body>
</html>