<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Thanks for booking.Your booking details are</h4>
<table border="1">
    <th colspan="2">Flight ticket details</th>
    <tr th:each="flight:${flights}">
        <td>Flight number</td>
        <td id="number" th:text="${flight.number}"></td>
    </tr>
    <tr th:each="flight:${flights}">
        <td>From</td>
        <td id="source" th:text="${flight.source}"></td>
    </tr>
    <tr th:each="flight:${flights}">
        <td>To</td>
        <td id="destination" th:text="${flight.destination}"></td>
    </tr>
    <tr th:each="flight:${flights}">
        <td>Departure Date</td>
        <td id="departureDate" th:text="${flight.departureDate}"></td>
    </tr>
    <tr th:each="flight:${flights}">
        <td>Departure Time</td>
        <td id="departureTime" th:text="${flight.departureTime}"></td>
    </tr>
    <tr th:each="flight:${flights}">
        <td>Arrival Time</td>
        <td id="arrivalTime" th:text="${flight.arrivalTime}"></td>
    </tr>
    <tr>
        <td>Flight Type</td>
        <td th:text="${flightType}"></td>
    </tr>
    <tr th:each="flight:${flights}">
        <td>Total Fare</td>
        <td th:text="${flight.totalFare}"></td>
    </tr>
</table>
<br>
<form th:action="@{/}" method="post">
    <input type="submit" name="home" id="home" value="Home">
</form>
</body>
</html>